name: Github Actions
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: jiro4989/setup-nim-action@v1
    - run: nimble test -y
    - run: nimble test --gc:orc -y
    - run: nim js all.nim
    - run: nim cpp -d:release --gc:arc all.nim
